*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

.title {
    text-align: center;
}

#container {
    display: flex;
    width: 500px;
    height: 500px;
    background-color: rgb(227, 215, 200);
    justify-content: center;
    align-items: center;
}

#container div {
    width: 20px;
    height: 20px;
    border: solid 1px black;
    background-color: rgb(187, 122, 122);
}