/* TO DO: Align items on screen correctly with proper margin, and finalize color scheme */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    background-color: whitesmoke;
}

.title {
    text-align: center;
    font-size: 4rem;
    margin-top: 50px;
    font-weight: bold;
}

.wrapper {
    text-align: center;
}
#create {
    font-size: 2rem;
    padding: 7px;
    border-radius: 20px;
    font-weight: 400;;
}

#container {
    display: flex;
    justify-content: center;
}


#sketchScreen {
    border: solid 10px rgba(205, 10, 0, 0.8);
    border-radius: 8px;
    display: flex;
    width: 1000px;
    height: 1000px;
}

#sketchScreen div {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: solid 1px rgba(113, 112, 112, 0.526);
    background-color: white;
}

footer,
a {
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}